<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <title>StarCraft vue</title>
</head>
<body>

<div class="main">
  <div class="app" v-show="showMain">
    <div class="app__header">
      <img src="img/logo.png" class="app__logo" alt="Логотип игры">
    </div>
    <div class="app__body">
      <button class="app__btn" @click="goToQuestions">
        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
        <span class="app__btn-text">Начать</span>
      </button>
      <button class="app__btn" @click="goToAchivments">
        <i class="fa fa-trophy" aria-hidden="true"></i>
        <span class="app__btn-text">Достижения</span>
      </button>
      <button class="app__btn" @click="goToSocial">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span class="app__btn-text">Автор</span>
      </button>
      <button class="app__btn btn__sound">
        <i class="fa fa-volume-off" aria-hidden="true"></i>
        <span class="app__btn-text">Звук</span>
      </button>
    </div>
  </div>
  <div class="app achivments" v-show="showAchivments">
    <div class="app__body">
      <div class="app__body-inner">
        <h2 class="app__body-title">
          <i class="fa fa-trophy" aria-hidden="true"></i>
          Достижения
        </h2>
        <div class="app__body-top">
          <div class="app__card">
            <div class="app__cart-text">Счёт</div>
            <div class="app__cart-count">{{totalScore}}</div>
          </div>
          <div class="app__card">
            <div class="app__cart-text">Отгрыто рас</div>
            <div class="app__cart-count">{{ openRaces }}</div>
          </div>
          <div class="app__card">
            <div class="app__cart-text">Всего игр</div>
            <div class="app__cart-count">{{ totalGames }}</div>
          </div>
          <div class="app__card">
            <div class="app__cart-text">Любимая раса</div>
            <div class="app__cart-count">{{ favoritRace }}</div>
          </div>
        </div>
        <div class="app__body-middle">
          <div class="app__result"
               v-for="(race, k) in results"
               v-show="showResultRace[k]"
               @click="goToResult(k)">
            <div class="app__result-score">
              <i class="fa fa-star" aria-hidden="true"></i>
              <div class="app__result-count">{{ race.points }}</div>
            </div>
            <div class="app__result-name">{{ race.name }}</div>
            <div class="app__result-amount">{{ totalGame[k] }}</div>
          </div>
        </div>
        <div class="app__body-bottom">
          <button class="app__btn btn__back btn__achivment" @click="goToMain">
            <i class="fa fa-reply" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="app" v-show="showQuestions">
    <div class="app__header">
      <div class="app__header-inner">
        <div class="app__count"># {{ number + 1 }}</div>
        <div class="app__text">{{ questions[number][0] }}</div>
      </div>
    </div>
    <div class="app__body">
      <button class="app__btn"
              v-for="(answer, i) in questions[number][1]"
              @click="nextQuestions(questions[number][2][i])">
        <span class="app_btn-text">{{ answer }}</span>
      </button>
    </div>
  </div>
  <div class="app" v-show="showSocial">
    <div class="app__body">
      <a target="_blank" href="https://github.com/Nick8582" class="app__btn">
        <i class="fa fa-github" aria-hidden="true"></i>
        <span class="app__btn-text">GitHub</span>
      </a>
      <a target="_blank" href="https://t.me/NickFRA" class="app__btn">
        <i class="fa fa-telegram" aria-hidden="true"></i>
        <span class="app__btn-text">Telegram</span>
      </a>
      <a target="_blank" href="https://vk.com/nickforall" class="app__btn">
        <i class="fa fa-vk" aria-hidden="true"></i>
        <span class="app__btn-text">VK</span>
      </a>
      <a target="_blank" href="mailto: 89172111013q@gmail.com" class="app__btn">
        <i class="fa fa-google" aria-hidden="true"></i>
        <span class="app__btn-text">GMail</span>
      </a>
      <button class="app__btn btn__back" @click="goToMain">
        <I class="fa fa-reply" aria-hidden="true"></I>
      </button>
    </div>
  </div>
  <div class="app results" v-show="showResult" :data-race="resultRace">
    <div class="app__body">
      <div class="app__results-inner">
        <div class="results__title">{{ results[resultRace].name }}</div>
        <div class="results__img">
          <img :src="'./img/'+resultRace+'_logo.png'" alt="">
        </div>
        <div class="results__text-box">
          <p class="results__text">{{ results[resultRace].description }}</p>
          <p class="results__quote">{{ results[resultRace].quote1 }}</p>
          <p class="results__quote">{{ results[resultRace].quote2 }}</p>
          <p class="results__author">{{ results[resultRace].author }}</p>
        </div>
        <div>
          <button :class="'app__btn btn__back btn__'+resultRace" @click="goToAchivments">
            <i class="fa fa-reply" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/vue.js"></script>
<script src="js/const.js"></script>
<script src="./js/main.js"></script>
</body>
</html>
